<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-3">
            <mat-form-field>
                <input matInput placeholder="Search Recent Results">
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field>
                <mat-label>select session year</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option *ngFor="let year of years" [value]="year.value">
                    {{year.viewYear}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field>
                <mat-label>select session month</mat-label>
                <mat-select [(value)]="selected_month">
                    <mat-option *ngFor="let month of months" [value]="month.value">
                    {{month.viewMonth}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date. </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Session Year Column -->
    <ng-container matColumnDef="session_year">
    <th mat-header-cell *matHeaderCellDef> Session Year. </th>
    <td mat-cell *matCellDef="let element"> {{element.session_year}} </td>
    </ng-container>

    <!-- Receipt Column -->
    <ng-container matColumnDef="reciept_id">
    <th mat-header-cell *matHeaderCellDef> Receipt ID </th>
    <td mat-cell *matCellDef="let element"> {{element.reciept_id}} </td>
    </ng-container>

    <!-- Event Column -->
    <ng-container matColumnDef="event">
    <th mat-header-cell *matHeaderCellDef> Event </th>
    <td mat-cell *matCellDef="let element"> {{element.event}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Reciept Status Column -->
    <ng-container matColumnDef="reciept_status">
    <th mat-header-cell *matHeaderCellDef> Reciept Status </th>
    <td mat-cell *matCellDef="let element"> 
        <span *ngIf="element.reciept_status == 1">
            <button type="submit" mat-raised-button color="accent" >Download receipt</button></span>
        <span *ngIf="element.reciept_status == 0">
                    <button type="submit" mat-raised-button color="warn" >Payment</button></span>
        <span *ngIf="element.reciept_status == 2">
                Payment session not started</span>
    </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
</table>

<mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>